.box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  width: 40%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.box__header {
  position: relative;
  top: -15px;
  color: blue;
  text-align: left;
}

.box span.validation-error {
  position: absolute;
  top: 30px;
  color: red;
  font-size: 13px;
  margin-top: 10px;
}

.box .inputbox {
  position: relative;
  margin-right: 4px;
}

.box .inputbox input {
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  border: 2px solid lightblue;
  border-radius: 4px;
  outline: none;
  background: transparent;
}

.box .inputbox input:focus,
.box .inputbox input:valid {
  border: 2px solid blueviolet;
}

.box .inputbox label {
  position: absolute;
  top: 0;
  left: 6px;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label {
  top: -14px;
  left: 10px;
  font-size: 13px;
  color: blue;
  background-color: white;
  padding: 3px;
  border-color: violet;
}

.box .inputbox input:focus ~ label::after,
.box .inputbox input:valid ~ label::after {
  content: "*";
  color: orangered;
}

.submit-button {
  width: 100%;
  height: 40px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  background: blue;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}

.box span.page-change {
  font-size: 14px;
  color: palevioletred;
}

.box span .sign-up {
  border: none;
  font-size: 16px;
  outline: none;
  background: white;
}

input.mail,
input.pass,
input.username {
  padding-left: 4px !important;
}
.inputbox .errors {
  color: red;
  position: absolute;
  top: -30px;
  font-size: 13px;
}

.box span .sign-up:hover {
  color: red;
}
span.login-loader {
  position: absolute;
  right: 50%;
  top: 74%;
  align-items: center;
}
span.signup-loader {
  top: 78%;
}

.loading {
  opacity: 0.6;
}
@media all and (max-width: 600px) {
  .box {
    width: 90%;
  }
}
